<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
 <!-- Cau hinh ung dung -->
        <add key="AppName" value="Phan mem quan ly co so du lieu trong trot"/>
        <add key="Version" value="1.0.1"/>
        <add key="Author" value="Cao Hieu"/>
   <add key="PageSize" value="20"/>
    </appSettings>
    
    <connectionStrings>
 <!-- Cau hinh ket noi database SQL Server -->
    <add name="DefaultConnection" 
   connectionString="Server=localhost;Database=KTPM;Trusted_Connection=True;TrustServerCertificate=True;" 
     providerName="System.Data.SqlClient"/>
    </connectionStrings>
</configuration>
